<body class="mainpage">
<main class="main">
    {{>hm_icon}}
    <div class="container" data-scroll>
        {{>logo}}
        <header class="main-screen">
            <div class="wrap">
                <div class="wrap_float">
                    <div class="main-title">
                        <h1 class="title-with-img glitch">
                            <span>Hi! I’m <a href="about.html" class="selected js-title-with-img">Takayuki Tominaga</a><br>Graphic + Web Designer,<br>and VJ.<br>Based in Tokyo.</span>
                        </h1>
                        <img src="img/bg-1.jpg" alt="" class="title-img hover-img" data-top="" data-left="" style="width: 312px">
                    </div>
                    <div class="scroll-word link change link-effect"><span class="change-span">Scroll</span></div>
                </div>
            </div>
        </header>
        <div class="video-section">
            <div class="wrap">
                <div class="wrap_float">
                    <div class="video-block">
                        <div class="video-container">
                            <div class="video" id="video-preload" data-video="video/short.mp4"></div>
                        </div>
                        <div class="play-btn" data-video="video/long.mp4"><span></span></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="quotes-section" id="quotes-section">
            <div class="wrap">
                <div class="wrap_float">
                    <div class="quote-row quote-row-1">My project – <i>My project</i> - </div>
                    <div class="quote-row quote-row-2">My project – <i>My project</i> - </div>
                </div>
            </div>
        </div>
        <div class="cases js-after-quotes" id="cases">
            <div class="wrap">
                <div class="wrap_float content">
                    <a href="case.html" class="case-item">
                        <h3 class="case-item-title link link-effect"><span>Diamond</span></h3>
                        <div class="case-item-image">
                            <div class="image-container case-img" style="background-image: url(img/bg-1.jpg);">
                            </div>
                        </div>
                        <div class="case-item-info content__item-title">
                            <div class="case-item-info-left">Web design, animation</div>
                            <div class="case-item-info-right">2019</div>
                        </div>
                    </a>
                    <a href="case.html" class="case-item">
                        <h3 class="case-item-title link link-effect"><span>Coronto</span></h3>
                        <div class="case-item-image">
                            <div class="image-container case-img" style="background-image: url(img/bg-1.jpg);">
                            </div>
                        </div>
                        <div class="case-item-info content__item-title">
                            <div class="case-item-info-left">Web design, animation</div>
                            <div class="case-item-info-right">2019</div>
                        </div>
                    </a>
                    <a href="case.html" class="case-item">
                        <h3 class="case-item-title link link-effect"><span>Dust</span></h3>
                        <div class="case-item-image">
                            <div class="image-container case-img" style="background-image: url(img/bg-1.jpg);">
                            </div>
                        </div>
                        <div class="case-item-info content__item-title">
                            <div class="case-item-info-left">Logo design, Branding</div>
                            <div class="case-item-info-right">2019</div>
                        </div>
                    </a>
                    <a href="case.html" class="case-item">
                        <h3 class="case-item-title link link-effect"><span>Strata</span></h3>
                        <div class="case-item-image">
                            <div class="image-container case-img" style="background-image: url(img/bg-1.jpg);">
                            </div>
                        </div>
                        <div class="case-item-info content__item-title">
                            <div class="case-item-info-left">Web design, animation</div>
                            <div class="case-item-info-right">2019</div>
                        </div>
                    </a>
                    <a href="case.html" class="case-item">
                        <h3 class="case-item-title link link-effect"><span>Maya Delia</span></h3>
                        <div class="case-item-image">
                            <div class="image-container case-img" style="background-image: url(img/bg-1.jpg);">
                            </div>
                        </div>
                        <div class="case-item-info content__item-title">
                            <div class="case-item-info-left">Web design, animation</div>
                            <div class="case-item-info-right">2019</div>
                        </div>
                    </a>
                    <a href="case.html" class="case-item">
                        <h3 class="case-item-title link link-effect"><span>Drawing</span></h3>
                        <div class="case-item-image">
                            <div class="image-container case-img" style="background-image: url(img/bg-1.jpg);">
                            </div>
                        </div>
                        <div class="case-item-info content__item-title">
                            <div class="case-item-info-left">Web design, animation</div>
                            <div class="case-item-info-right">2019</div>
                        </div>
                    </a>

                </div>
            </div>
        </div>
        <div class="more-projects">
            <div class="wrap">
                <div class="wrap_float">
                    <a class="cases-link" href="projects.html" data-text="All projects"><span>All projects</span></a>
                </div>
            </div>
        </div>
        {{>footer}}
    </div>
</main>

<div class="full-video" style="display: none;">
    <video controls class="fullscreen-video" id="full-video">
        <source src="video/long.mp4" type="video/mp4">
    </video>
</div>
{{>hm_menu}}
{{>common_meta}}
</body>
