<footer class="footer">
    <div class="wrap">
        <div class="wrap_float">
            <div class="footer-top">
                Takayuki Tominaga – <br>Graphic + Web Design & VJ
            </div>
            <div class="footer-bottom">
                <div class="_left">© 2020</div>
            </div>
        </div>
    </div>
</footer>
