<footer class="footer">
    <div class="wrap">
        <div class="wrap_float">
            <div class="footer-top">
                Takayuki Tominaga – <br>Graphic + Web Design & VJ
            </div>
            <div class="footer-bottom">
                <div class="_left">© 2020</div>
                <div class="_center"><a href="" class="link link-effect"><span>Behance</span></a> / <a href="" class="link link-effect"><span>Dribbble</span></a></div>
                <div class="_right"><a href="" class="lang-link">ru</a></div>
            </div>
        </div>
    </div>
</footer>
