<div class="menu-wrap with-mode" id="js-menu">
    <div class="scroll">
        <!--<div class="mode-link"><a href="#" class="link link-effect" id="js-change-version" data-day-text="Night mode" data-night-text="Day mode"><span>Night mode</span></a></div>-->
        <ul class="mob-ul">
            {{#each page.common.menu}}
            <li><a href="{{this.url}}" class="link link-effect"><span>{{this.title}}</span></a></li>
            {{/each}}
        </ul>
        <div class="menu-center" id="js-menu-center">
            <p class="get-in-touch">get in touch</p>
            <ul>
                <li><script type="text/javascript">
                    <!--
                    function converter(M){
                        var str="", str_as="";
                        for(var i=0;i<M.length;i++){
                            str_as = M.charCodeAt(i);
                            str += String.fromCharCode(str_as + 1);
                        }
                        return str;
                    }
                    function mail_to(k_1,k_2)
                    {eval(String.fromCharCode(108,111,99,97,116,105,111,110,46,104,114,101,102,32,
                            61,32,39,109,97,105,108,116,111,58)
                            + escape(k_1) +
                            converter(String.fromCharCode(98,110,109,115,96,98,115,45,115,108,109,102,63,102,108,96,104,107,45,98,110,108,
                                    62,114,116,97,105,100,98,115,60))
                            + escape(k_2) + "'");}
                    document.write('<a href=JavaScript:mail_to("","") class="link link-effect"><span>Mail<\/span><\/a>');
                    //-->
                </script></li>
                {{#each page.common.socialLink}}
                <li><a href="{{this.url}}" class="link link-effect"><span>{{this.title}}</span></a></li>
                {{/each}}
            </ul>
        </div>
        <div class="menu-close" id="js-menu-close"></div>
    </div>
</div>

