<div class="top-panel" id="top-panel">
    <div class="wrap">
        <div class="wrap_flaot">
            <a href="/" class="logo">
                <img src="img/logo.svg" alt="" class="for-day-mode">
                <img src="img/logo-white.svg" alt="" class="for-night-mode">
            </a>
        </div>
    </div>
</div>
