<div class="top-panel" id="top-panel">
    <div class="wrap">
        <div class="wrap_flaot">
            <a href="{{page.common.menu.0.url}}" class="logo">
                <img src="{{page.common.logo}}" alt="" class="for-day-mode">
            </a>
        </div>
    </div>
</div>
