<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
    <title>{{page.common.title}}</title>
    {{#each page.common.css}}
        <link rel="stylesheet" href="{{this}}">
    {{/each}}
    {{#each page.common.favicon}}
        <link rel="icon" type="image/png" sizes="{{this.size}}" href="{{this.img}}">
    {{/each}}
    <meta name="msapplication-TileColor" content="#000">
    <meta name="theme-color" content="#000">
</head>
{% body %}
</html>
